{{- $rootPassword := "" -}}
{{- if .Values.seekdb.rootPassword -}}
  {{- $rootPassword = .Values.seekdb.rootPassword | b64enc -}}
{{- else -}}
  {{- $secretObj := (lookup "v1" "Secret" .Release.Namespace (include "seekdb.fullname" .) ) -}}
  {{- if $secretObj -}}
    {{- $rootPassword = index $secretObj.data "password" -}}
  {{- else -}}
    {{- $rootPassword = randAlphaNum 16 | b64enc -}}
  {{- end -}}
{{- end -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "seekdb.fullname" . }}
  labels:
    {{- include "seekdb.labels" . | nindent 4 }}
type: Opaque
data:
  password: {{ $rootPassword | quote }}