name: build oceanbase-ce image

on:
  workflow_call:
    inputs:
      cache_key:
        required: true
        type: string
      image_file:
        required: true
        type: string
      version:
        required: true
        type: string

jobs:
  build-oceanbase-ce:
    runs-on: ubuntu-latest
    steps:
      - name: Print environment variables
        run: printenv

      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build pre image
        uses: docker/build-push-action@v6
        with:
          context: ./oceanbase-ce
          platforms: linux/amd64
          file: ./oceanbase-ce/Dockerfile.pre
          push: false
          load: true
          tags: oceanbase-ce-pre
          build-args: |
            VERSION=${{ inputs.version }}

      - name: Copy storage files
        run: |
          mkdir -p ./oceanbase-ce/share
          docker run -v ./oceanbase-ce/share:/root/share oceanbase-ce-pre

      - name: Build observer image
        uses: docker/build-push-action@v6
        with:
          context: ./oceanbase-ce
          platforms: linux/amd64
          file: ./oceanbase-ce/Dockerfile
          push: false
          load: true
          tags: oceanbase-ce
          build-args: |
            VERSION=${{ inputs.version }}

      - name: Export Docker image
        run: docker save -o ${{ inputs.image_file }} oceanbase-ce

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.cache_key }}
          path: ${{ inputs.image_file }}
